@import url('https://fonts.googleapis.com/css?family=Karla');

* {
	box-sizing: border-box;
}

body{
    margin:0;
    height: 100vw;
    font-family: 'Karla', sans-serif;
}

body, html {
    height:100%;
}

a, article, b, div, footer, header, i, li, section, span, strong, ul {
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
}

a {
    background-color: transparent;
}

div {
    display: block;
}

/*Header*/

.c_header {
    z-index:4;
    display:block;
    position:relative;
    background:#fff;
    box-shadow:0 1px 2px #cbcbcb;
}

.c_header__inner {
    position: relative;
    height:84px;
    box-sizing: content-box;
    z-index:5;
    justify-content: space-between;
}

/*================
toggle menu
==================*/

.toggle {
    display: none;
}


.c_header__inner, .c_header__left {
    display: flex;
}

.c_header__left {
    align-items: center;
    margin-left: 62px;
}

.c_header__logo-container {
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
}

.c_header__right {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 62px;
}

.c_header .dropdown {
    position:relative;
    font-size: 15px;
}

.c_header .dropdown__main-link {
    display:block;
    line-height: 20px;
    white-space: nowrap;
}

.c_header .dropdown__main-link.button {
    margin-left:28px;
}

/*===================

====================*/

.nav{
    height:50px;
    padding:0.8em;
    width:100%;
    font-size:16px;
    border-bottom: 1px solid #697078;
}

.wrapper ul{
    list-style: none;
    text-align: center;
    padding:0;
    margin:0;
    display: inline-block;
}

.wrapper li{
    margin:3px;
    display: inline-block;
}

.wrapper li a {
    color:#fff;
    display: block;
}

.wrapper li a:hover{
    border-bottom: 2px solid #fff;
}


/*image - grey background*/

.wrapper{
    height:450px;
    background:
        linear-gradient(
            rgba(104,111,119, .5),
            rgba(104,111,119, .5)
        ),
        url(img/Business-Management.jpg);
    background-size:cover;
    text-align: center;
}

.row{
    display: inline-block;
    text-align: center;
    width:65%;
    margin:auto;
    margin-top:10px;
    padding:0.1em;
    color:#fff;
    font-size:18px;
}

.col-centered{
    display: inline-block;
    border-bottom: 4px solid #fff;
}


.col-centered h1, h3{
    font-size:58px
}

.col-4{
    text-align: center;
    font-size:15px;
    position: relative;
    width:100%;
    display: inline-block;
}

.col-4 .btn-hidden{
    display: none;
}


.left-col{
    border-right: 4px solid #fff;
}

/* ================================= 
  3D CUBES
==================================== */

a {
	text-decoration: none;
}
h1,
h2,
h3 {
	text-transform: uppercase;
}
h2 {
	font-size: 1.125em;
	color: #4a89ca;
	font-weight: 600;
	margin: 0;
}

h3 {
	font-size: 1em;
	line-height: 1.25em;
	margin-top: .85em;
	margin-bottom: .5em;
}

p {
	font-size: .875em;
	line-height: 1.4;
	margin: 0 0 1em;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

/*.cube-container {
    position: relative;
   margin:5px 12px 21px;
}*/

#first-cube{
    margin-right: 28px;
}

#second-cube{
    margin-left: 28px;
}

/* ---- Page Elements ---- */

.button-access {
	font-size: .8em;
	color: #fff;
	width: 90%;
	line-height: 1.15;
	font-weight: 700;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: .65em 0;
	border-radius: .5em;
	background: rgba(74,137,202, .8);
	margin: auto;
}
/* ---- Photo Overlay ---- */



.photo-desc {
	font-size: .95em;
	color: #000;
	padding: 1.5em 1em 0;
	background: #fff;
}
/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ================================= 
  Media Queries
==================================== */

/*@media (min-width: 769px) {
	.cube-container {
		float: left;
		margin-left: 16.6%;
	}
}
@media (min-width: 1025px) {
	.cube-container:first-child {
		margin-left: 0;
	}
	.cube-container:last-child{
		float: right;
	}
	.content {
		max-width: 900px;
		margin: auto;
	}
}*/


@media screen and (max-width: 600px){
    body {
        font-size: 13px;
    }
    
    .toggle {
        width:63px;
        margin-left:0;
        font-size: 24px;
        cursor: pointer;
        display: block;

    }
    
    .toggle-menu {
        margin:21px 21px;
        opacity: 0.5;
    }
     
    .toggle-menu:hover {
        opacity:1;
    }
    
    .nav {
        height: auto;
        border-bottom:none;
    }
    
    .c_header__inner {
        position: relative;
        height:63px;
        box-sizing: content-box;
        z-index:5;
        justify-content: space-between;
    }
    

    .c_header__logo-container {
        display:flex;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:-1;
    }
    
    .selectiva-logo {
        width:250px;
    }
    
    .wrapper ul{
        list-style: none;
        margin:auto;
        padding:0;
        width: 100%;
        border: 1px solid #fff;
    }

    .wrapper ul li {
        display: block;
        text-align: center;
        border-bottom: 1px solid #fff;
    }

    .wrapper li:last-child {
        border-bottom: none;
    }

    .wrapper li a {
        display:block;
        color:#fff;
        font-size: 16px;
        text-decoration: none;
    }

    .wrapper li a:hover{
        border-bottom: none;
    }

    .row{
        width:100%;
    }

    .col-centered h1{
        font-size:45px
    }

    .wrapper{
        height:550px;
        background:
            linear-gradient(
                rgba(104,111,119, .5),
                rgba(104,111,119, .5)
            ),
            url(img/Business-Management.jpg);
        background-size:     cover;                     
        background-repeat:   no-repeat;
        background-position: center center; 
    }

    .cube-container{
        display: none;
    }

    .col-4 .btn-hidden{
        display: block;
    }


}

@media (max-width:768px) {
    .toggle {
        display: block;
    }
}


/* ================================= 
  Button Transitions
==================================== */

.button {
	transition: background .3s;
}
.button:hover {
    color: #fff;
	background: rgba(74,137,202, 1);
    text-decoration: none;
}

/* ================================= 
  Photo 3D Transforms & Transitions
==================================== */

cube-container {
	box-shadow: 0 18px 40px 5px rgba(0,0,0,.4);
    perspective: 0px;
}


.photo-cube {
    position:relative;
    display: inline-block;
    transition: transform 2s ease-in-out;
    width: 220px;
    height: 180px;
    transform-style: preserve-3d;
}

.photo-cube:hover {
  transform: rotateY(-270deg);
}

.front,
.back,
.left,
.right {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  
}

.front {
  transform: translateZ(110px)
}

.back {
  transform: translateZ(-110px) rotateY(270deg);
  transform-origin: center left;
}

.left {
  transform: rotateY(-270deg) translateX(110px);
  transform-origin: top right;
}

.right {
  transform: translateZ(-110px) rotateY(180deg);
}

/*.about{
    height:0px;
    background:url(img/man-women.jpg);
    background-size:cover cover;
    text-align: center;
}*/

/* ================================= 
  Information
==================================== */

/*h2{
    color:#FF0000;
    font-size:50px;
}

span {
    font-style: bold;
}*/


























































